@page
@{
}
 
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Kilometraje</th>
      <th scope="col">Número de Asientos</th>
      <th scope="col">Placa</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mazda</td>
      <td>CX5</td>
      <td>8500</td>
      <td>5</td>
      <td>XBN850</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Toyota</td>
      <td>CX5</td>
      <td>8500</td>
      <td>5</td>
      <td>XBN850</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Honda</td>
      <td>CX5</td>
      <td>8500</td>
      <td>5</td>
      <td>XBN850</td>
    </tr>
  </tbody>
</table>