@page
@{
}
 
<div class="text-center">
<form action="">

  <label for="id" class="form-label">id:</label>
  <input type="number" class="form-control" id="id" name="id" placeholder="id" >

  <label for="Origen" class="form-label">Origen:</label>
  <input type="number" class="form-control" id="origen" name="origen" placeholder="Origen" >

  <label for="Destino" class="form-label">Destino:</label>
  <input type="number" class="form-control" id="destino" name="destino" placeholder="Destino" >

  <label for="Tiempo Estimado" class="form-label">Tiempo Estimado:</label>
  <input type="number" class="form-control" id="tiempo_estimado" name="tiempo_estimado" placeholder="Tiempo Estimado" >

         
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
